@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'AppleSD';
    src: url('/public/font/AppleSDGothicNeoH.ttf') format('truetype');
    font-weight: 900;
  }
  
  @font-face {
    font-family: 'AppleSD';
    src: url('/public/font/AppleSDGothicNeoB.ttf') format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'AppleSD';
    src: url('/public/font/AppleSDGothicNeoEB.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'AppleSD';
    src: url('/public/font/AppleSDGothicNeoSB.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'AppleSD';
    src: url('/public/font/AppleSDGothicNeoM.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'AppleSD';
    src: url('/public/font/AppleSDGothicNeoR.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'AppleSD';
    src: url('/public/font/AppleSDGothicNeoL.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'AppleSD';
    src: url('/public/font/AppleSDGothicNeoUL.ttf') format('truetype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'AppleSD';
    src: url('/public/font/AppleSDGothicNeoT.ttf') format('truetype');
    font-weight: 100;
  }
  
  html {
    font-family: "AppleSD";
  }

  :root {
    --background: 285 47% 98%;
    --foreground: 285 57% 0%;
    --muted: 255 0% 61.79%;
    --muted-foreground: 255 0% 70.26%;
    --popover: 285 47% 98%;
    --popover-foreground: 285 57% 0%;
    --card: 285 47% 98%;
    --card-foreground: 285 57% 0%;
    --border: 285 6% 90%;
    --input: 285 6% 90%;
    --primary: 285 0% 0%;
    --primary-foreground: 285 0% 100%;
    --secondary: 255 0% 19.23%;
    --secondary-foreground: 255 0% 100%;
    --accent: 315 0% 0%;
    --accent-foreground: 315 0% 100%;
    --destructive: 7.52 100% 50%;
    --destructive-foreground: 360 0% 100%;
    --ring: 285 0% 0%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 285 0% 0%;
    --foreground: 285 17% 100%;
    --muted: 255 0% 13.59%;
    --muted-foreground: 255 0% 100%;
    --popover: 14.28 0% 0%;
    --popover-foreground: 285 0% 100%;
    --card: 285 0% 0%;
    --card-foreground: 285 0% 100%;
    --border: 0 0% 58.72%;
    --input: 285 0% 100%;
    --primary: 285 0% 100%;
    --primary-foreground: 285 0% 0%;
    --secondary: 255 0% 30.51%;
    --secondary-foreground: 255 0% 100%;
    --accent: 214.95 0% 58.97%;
    --accent-foreground: 315 0% 100%;
    --destructive: 4 74.55% 48.47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 285 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
